## Bitcoin sending money and verification
<details>
<summary><b>Reveal answer</b></summary>
Reciever shares address, sender send amount<br><br>Transaction is broadcast to the network, where miners verify it and add it to the transaction history.
</details>
